{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "quoteProps": "consistent"
}