.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main label {
  font-size: 1.4em;
}

.selected {
  text-align: center;
}
  